.tablaEmpleados {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(231, 32, 32, 0,.5);
}

.headerTabla {
    background-color: rgb(116, 199, 255);
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.tablaEmpleados th, .tablaEmpleados td {
    border: 1px solid rgba(231, 32, 32, 0,.5);
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

.editButton {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 121, 121);;
    cursor: pointer;
}

.deleteButton {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(146, 255, 219);
    cursor: pointer;
}